# Variáveis de ambiente — NÃO COMMITAR este arquivo
# Copie para .env e preencha com suas credenciais
TIDB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=4TZcpCdVTunFQAU.root
TIDB_PASS=SUA_SENHA_AQUI
TIDB_DB=seresdasestrelas
TIDB_SSL=true
